p { color: blue; }

#parrafo { color: green; }

.parrafo { color: orange; }

.resaltar:hover{
    color: yellow;
}

/*Botones*/
.btn {
    border: 1px solid #000;
    padding: 5px 20px;
    margin: 0 10px 5px;
    background-color: #ccc;
    font-weight:bold;
    cursor: pointer;
    box-shadow:#aaa 5px 3px 2px;
}

.btn:hover{
    opacity: 0.75;
}

.btn-blue{
    background-color: #0040a5;
    color: #fff;
}

.rounded{
    border-radius: 20px;
}

/*navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #04AA6D;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
